<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
</head>
<body>
    <form name="checkout" method="POST" action="/api/transaction/netbanking">
        <input type="text" name="merchantName" placeholder="merchantName" required>
        <input type="text" name="merchantCode" placeholder="merchantCode" required>
        <input type="number" name="txnAmount" placeholder="txnAmount" required>
        <input type="text" name="txnCurrency" placeholder="txnCurrency" required>
        <input type="text" name="txnDate" placeholder="txnDate" required>
        <input type="text" name="custName" placeholder="custName" required>
        <input type="text" name="custMobile" placeholder="custMobile" required>
        <input type="text" name="mode" placeholder="mode" required>
        <input type="text" name="source" placeholder="source" >
        <input type="text" name="txnRefId" placeholder="txnRefId" required>
        <input type="text" name="livemode" placeholder="livemode" required>
        <input type="text" name="txnDescription" placeholder="txnDescription" required>
        <input type="submit" value="Pay"/>
    </form>
    <!-- <form name="checkout" method="POST" action="/api/transaction/netbanking">
        <input name="name" placeholder="Name" type="text" required/>
        <input name="email" placeholder="Email" type="text" required/>
        <input name="amount" placeholder="Amount" type="number" required/>
        <input type="text" placeholder="Info" required/>
        <input type="submit" value="Pay" />
    </form> -->
</body>
<!-- <script src="./checkout.js"></script> -->
</html>